h1 {

	color: black;
	font-size: 100px;
	text-align: center;
}

body {
	color:blue;
	text-align: center;
	font-size: 20px;
}

li {
	font-size: 20px;
	font-family: georgia;
	text-align: left;
	color: blue;
	font-weight: bold;
}